*{
    text-align: left;
}


.about{
    width: 70%;
    margin: 75px auto;
    font-family: 'Josefin Sans', sans-serif;
    
}

aside{
    width: 25%;
   
}

section{
    font-size: 16px;
    line-height: 1.5;
    
}



   